<form method="post" action="/recipes">
  <label for="name"> Article Title</label>
  <input type="text" id="title" name="title">
  <label for="breed"> Article Content</label>
  <input type="text" id="content" name="content">
  <input type="submit" value="submit">
</form>